#TabChat {
  width: 100%;
  height: 100%;
  padding: 10px 5px;
  background-color: #fff;
  border-left: 1px solid;
  /* border-right: 1px solid var(--media-inner-border); */
  display: flex;
  flex-direction: column;
}
#serachChatUser {
  font-size: 15px;
  background-color: var(--chat-composer-input-background-color);
  border-radius: 25px;
}
/* #searchbtnddon:hover {
  background-color: var(--bs-btn-hover-bg);
} */
