.toolBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btnBgToolBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  background-color: var(--chat-composer-button-color);
}
.sendBtn {
  margin-left: 10px;
}
